{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "shinkansen-gears/forward": "./src/gears/forward/index.jsx",
          "shinkansen-gears/reverse": "./src/gears/reverse/index.jsx",
          "shinkansen-gears": "./src/gears/index.jsx"
        }
      }
    ]
  ]
}
