{
  "compact": true,
  "comments": false,
  "presets": [
    [
      "env", {
        "targets": {
          "node": "current"
        },
        "useBuiltIns": true
      }
    ],
    "react",
    "stage-0"
  ]
}
