{
  "compact": true,
  "comments": false,
  "presets": [
    [
      "env", {
        "targets": {
          "node": "current",
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        },
        "useBuiltIns": true
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-react-jsx"
  ]
}
