{
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "react/display-name": 0
  },
  "settings": {
    "react": {
      "version": "16.2.0"
    }
  }
}
