.DS_Store

.circleci
.github
.husky

.editorconfig
.eslintignore
.eslintrc

.gitignore
.gitattributes

.depsrc

# User-defined NPM configuration
.npmrc

# User-defined NVM configuration
.nvmrc

# Build
build
transform.sh

# Mocha
test

# Jest
__tests__
jest.config.cjs

# Coverage
coverage

# Storybook
.storybook
stories

# Shell
nvm.sh

# Webpack
webpack.config.mjs

# TypeScript
tsconfig.json
jsconfig.json
