.skip-link {
  font-size: 14px;
  height: 1px;
  line-height: 16px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  display: block;
  outline-offset: 0;
  padding: 10px 15px;
  white-space: nowrap
}

.skip-link:active,
.skip-link:focus {
  height: auto;
  overflow: visible;
  position: static;
  width: auto;
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  margin: 3px
}

.skip-link:active {
  background-color: #dcdcdc;
  color: #fff;
  outline: 3px solid #fff
}

header {
  margin: 0 0 auto
}

footer,
header {
  background-color: #fff;
  flex-shrink: 0;
  min-width: 320px
}

footer {
  margin: auto 0 0
}

.heading-l,
h1 {
  color: #171819;
  font-family: proxima-nova-bold,sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem
}

@media only screen and (max-width:767px) {
  .heading-l,
  h1 {
    font-size: 1.5rem;
    line-height: 2rem
  }
}

.heading-m,
h2 {
  color: #171819;
  font-family: proxima-nova-bold,sans-serif;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.125rem
}

@media only screen and (max-width:767px) {
  .heading-m,
  h2 {
    font-size: 1.25rem;
    line-height: 1.75rem
  }
}

.heading-s,
h3 {
  color: #171819;
  font-family: proxima-nova-bold,sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem
}

@media only screen and (max-width:767px) {
  .heading-s,
  h3 {
    font-size: 1rem;
    line-height: 1.375rem
  }
}

.body-l {
  color: #171819;
  font-family: proxima-nova-regular,sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem
}

@media only screen and (max-width:767px) {
  .body-l {
    font-size: 1.125rem;
    line-height: 1.5rem
  }
}

.body-m {
  color: #171819;
  font-family: proxima-nova-regular,sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem
}

@media only screen and (max-width:767px) {
  .body-m {
    font-size: 1rem;
    line-height: 1.375rem
  }
}

.body-s {
  color: #171819;
  font-family: proxima-nova-regular,sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem
}

@media only screen and (max-width:767px) {
  .body-s {
    font-size: .875rem;
    line-height: 1.25rem
  }
}

.paragraph,
p {
  color: #171819;
  font-family: proxima-nova-regular,sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem
}

@media only screen and (max-width:767px) {
  .paragraph,
  p {
    font-size: 1rem;
    line-height: 1.375rem
  }
}

.anchor,
.skip-link,
a {
  font-family: proxima-nova-regular,sans-serif;
  font-style: normal;
  font-weight: 400
}

.anchor,
.anchor:link,
.skip-link,
.skip-link:link,
a,
a:link {
  color: #4d90fe;
  text-decoration: underline
}

.anchor:hover,
.skip-link:hover,
a:hover {
  color: #003078
}

.anchor:visited,
.skip-link:visited,
a:visited {
  color: #4c2c92
}

.anchor:active,
.anchor:focus,
.skip-link:active,
.skip-link:focus,
a:active,
a:focus {
  background-color: #fd0;
  color: #171819;
  outline: 2px solid transparent
}

dl,
ol,
ul {
  color: #171819;
  font-family: proxima-nova-regular,sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  margin: 1em 0
}

@media only screen and (max-width:767px) {
  dl,
  ol,
  ul {
    font-size: 1rem;
    line-height: 1.375rem
  }
}

li {
  color: #171819;
  font-family: proxima-nova-regular,sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  margin: 0
}

@media only screen and (max-width:767px) {
  li {
    font-size: 1rem;
    line-height: 1.375rem
  }
}

.heading-l,
.heading-m,
.heading-s,
.paragraph,
h1,
h2,
h3,
p {
  margin: 1em 0
}

.anchor,
a {
  margin: 0
}

body,
html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #fff;
  color: #171819;
  font-family: proxima-nova-regular,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  line-height: 22px;
  overflow: auto
}

body,
html,
main {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%
}

main {
  display: block
}

#storybook-root {
  margin: 0 auto;
  max-width: 1020px
}

#storybook-root > div.alpha,
#storybook-root > div.confirm,
#storybook-root > div.debark,
#storybook-root > div.embark,
#storybook-root > div.omega,
#storybook-root > header.alpha,
#storybook-root > header.confirm,
#storybook-root > header.debark,
#storybook-root > header.embark,
#storybook-root > header.omega {
  padding: 0 1rem
}

#storybook-root header h1 {
  color: #171819;
  font-family: proxima-nova-bold,sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem
}

@media only screen and (max-width:767px) {
  #storybook-root header h1 {
    font-size: 2.5rem;
    line-height: 3rem
  }
}

#storybook-root button {
  background-color: #24548a;
  border: 2px solid #24548a;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: proxima-nova-bold,sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  outline-offset: 2px;
  padding: 8px 16px;
  position: relative;
  text-align: center
}

@media only screen and (max-width:767px) {
  #storybook-root button {
    font-size: .875rem;
    line-height: 1.25rem
  }
}

#storybook-root button[disabled] {
  background-color: #d8d8d8;
  border: 2px solid #d8d8d8
}

#storybook-root button span {
  display: block
}

#storybook-root button:hover {
  text-decoration: underline
}

#storybook-root button:focus {
  background-color: #fd0;
  border: 2px solid #fd0;
  color: #171819;
  outline-color: #171819;
  text-decoration: underline
}

#storybook-root label {
  color: #171819;
  display: block;
  font-family: proxima-nova-regular,sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  line-height: 2rem;
  margin: 0 0 .25rem;
  padding: 0
}

@media only screen and (max-width:767px) {
  #storybook-root label {
    font-size: 1rem;
    line-height: 1.375rem
  }
}

#storybook-root fieldset {
  border: none;
  margin: 0;
  padding: 0
}

#storybook-root fieldset legend {
  border: none;
  color: #171819;
  font-family: proxima-nova-bold,sans-serif;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.125rem;
  margin: 0 0 1em;
  padding: 0
}

@media only screen and (max-width:767px) {
  #storybook-root fieldset legend {
    font-size: 1.25rem;
    line-height: 1.75rem
  }
}

#storybook-root input:not([type=checkbox]):not([type=radio]),
#storybook-root select,
#storybook-root textarea {
  background-color: #fff;
  border: 2px solid #000;
  color: #171819;
  display: inline-block;
  font-family: proxima-nova-regular,sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  line-height: 2rem;
  padding: .25rem
}

@media only screen and (max-width:767px) {
  #storybook-root input:not([type=checkbox]):not([type=radio]),
  #storybook-root select,
  #storybook-root textarea {
    font-size: 1rem;
    line-height: 1.375rem
  }
}

#storybook-root input:not([type=checkbox]):not([type=radio]):focus,
#storybook-root select:focus,
#storybook-root textarea:focus {
  border-color: #000;
  box-shadow: inset 0 0 0 2px;
  outline: 3px solid #fd0;
  outline-offset: 0
}

#storybook-root .gremlin {
  line-height: 1.375rem;
  margin: 1rem 0;
  padding: 0
}

#storybook-root .gremlin:first-child {
  margin-top: 0
}

#storybook-root .gremlin:last-child {
  margin-bottom: 0
}

#storybook-root .gremlin.radio {
  margin-bottom: .5rem;
  min-height: 2rem;
  position: relative
}

#storybook-root .gremlin.radio:last-of-type {
  margin-bottom: 0
}

#storybook-root .gremlin.radio label:before {
  background-color: #fff;
  border: 2px solid;
  border-radius: 50%;
  box-sizing: border-box;
  content: "​";
  height: 32px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 32px
}

#storybook-root .gremlin.radio input {
  left: .5rem;
  position: absolute;
  top: .5rem
}

#storybook-root .gremlin.radio input:focus + label:before {
  box-shadow: 0 0 0 2px #fd0
}

#storybook-root .gremlin.radio input:checked + label:after {
  background-color: #000;
  border: 2px solid;
  border-radius: 50%;
  bottom: .5rem;
  box-sizing: border-box;
  content: "​";
  height: 1rem;
  left: .5rem;
  overflow: hidden;
  position: absolute;
  right: .5rem;
  top: .5rem;
  width: 1rem
}

#storybook-root .gremlin.radio input + label {
  margin: 0;
  padding: 0
}

#storybook-root .gremlin.checkbox {
  margin-bottom: .5rem;
  min-height: 2rem;
  position: relative
}

#storybook-root .gremlin.checkbox:last-of-type {
  margin-bottom: 0
}

#storybook-root .gremlin.checkbox label:before {
  background-color: #fff;
  border: 2px solid;
  box-sizing: border-box;
  content: "​";
  height: 2rem;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 2rem
}

#storybook-root .gremlin.checkbox input {
  left: .5rem;
  position: absolute;
  top: .5rem
}

#storybook-root .gremlin.checkbox input:focus + label:before {
  box-shadow: 0 0 0 2px #fd0
}

#storybook-root .gremlin.checkbox input:checked + label:after {
  background-color: #fff;
  border-bottom: 4px solid;
  border-left: 4px solid;
  bottom: .625rem;
  box-sizing: border-box;
  content: "​";
  height: .625rem;
  left: .3125rem;
  overflow: hidden;
  position: absolute;
  top: .625rem;
  transform: rotate(-45deg);
  width: 1.375rem
}

#storybook-root .gremlin.checkbox input + label {
  margin: 0;
  padding: 0
}

#storybook-root .gremlin.error {
  border-left: .25rem solid #a00;
  padding: 0 1rem
}

#storybook-root .gremlin.error input:not([type=checkbox]):not([type=radio]),
#storybook-root .gremlin.error select,
#storybook-root .gremlin.error textarea {
  border: 2px solid #a00
}

#storybook-root .gremlin.error input:not([type=checkbox]):not([type=radio]):focus,
#storybook-root .gremlin.error select:focus,
#storybook-root .gremlin.error textarea:focus {
  border-color: #000
}

#storybook-root .gremlin.error.checkbox,
#storybook-root .gremlin.error.radio {
  padding-left: 4rem
}

#storybook-root .gremlin.error.checkbox input,
#storybook-root .gremlin.error.radio input {
  left: 1.5rem
}

#storybook-root .gremlin.error.checkbox label:before,
#storybook-root .gremlin.error.radio label:before {
  border: 2px solid #a00;
  left: 1rem
}

#storybook-root .gremlin.error.radio input:checked + label:after {
  left: 1.5rem
}

#storybook-root .gremlin.error.checkbox input:checked + label:after {
  left: 1.3125rem
}

#storybook-root .gremlin.fieldset legend {
  color: #171819;
  font-family: proxima-nova-bold,sans-serif;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.125rem;
  margin-top: 0;
  padding: 0
}

@media only screen and (max-width:767px) {
  #storybook-root .gremlin.fieldset legend {
    font-size: 1.25rem;
    line-height: 1.75rem
  }
}

#storybook-root .gremlin.fieldset.error {
  border-left: .25rem solid #a00;
  padding: 0 1rem
}

#storybook-root .gremlin.fieldset.error input:not([type=checkbox]):not([type=radio]),
#storybook-root .gremlin.fieldset.error select,
#storybook-root .gremlin.fieldset.error textarea {
  border: 2px solid #a00
}

#storybook-root .gremlin.fieldset.error input:not([type=checkbox]):not([type=radio]):focus,
#storybook-root .gremlin.fieldset.error select:focus,
#storybook-root .gremlin.fieldset.error textarea:focus {
  border-color: #000
}

#storybook-root .gremlin.fieldset.error.checkbox,
#storybook-root .gremlin.fieldset.error.radio {
  padding-left: 4rem
}

#storybook-root .gremlin.fieldset.error.checkbox input,
#storybook-root .gremlin.fieldset.error.radio input {
  left: 1.5rem
}

#storybook-root .gremlin.fieldset.error.checkbox label:before,
#storybook-root .gremlin.fieldset.error.radio label:before {
  border: 2px solid #a00;
  left: 1rem
}

#storybook-root .gremlin.fieldset.error.radio input:checked + label:after {
  left: 1.5rem
}

#storybook-root .gremlin.fieldset.error.checkbox input:checked + label:after {
  left: 1.3125rem
}

#storybook-root .sprocket {
  line-height: 1.375rem;
  margin: 1rem 0;
  padding: 0
}

#storybook-root .sprocket:first-child {
  margin-top: 0
}

#storybook-root .sprocket:last-child {
  margin-bottom: 0
}

#storybook-root .sprocket.error-summary {
  background-color: #fff;
  border: .25rem solid #a00;
  display: block;
  line-height: 2rem;
  padding: 1rem
}

#storybook-root .sprocket.error-summary > h2:first-child {
  margin-top: 0
}

#storybook-root .sprocket.error-summary ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0
}

#storybook-root .sprocket.error-summary li {
  color: #a00;
  display: block;
  font-family: proxima-nova-regular,sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  margin: 0 0 .25rem;
  padding: 0
}

@media only screen and (max-width:767px) {
  #storybook-root .sprocket.error-summary li {
    font-size: 1rem;
    line-height: 1.375rem
  }
}

#storybook-root .sprocket.error-summary a {
  color: #a00;
  font-family: proxima-nova-regular,sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem
}

@media only screen and (max-width:767px) {
  #storybook-root .sprocket.error-summary a {
    font-size: 1rem;
    line-height: 1.375rem
  }
}

#storybook-root .sprocket.error-summary a:focus {
  background-color: #fd0;
  box-shadow: 0 -2px #fd0,0 4px #000;
  color: #171819;
  outline: 3px solid transparent;
  outline-offset: 0;
  text-decoration: none
}

#storybook-root .sprocket.error-summary:focus {
  border-color: #000;
  outline: 3px solid #fd0;
  outline-offset: 0
}

#storybook-root .sprocket.check-answers > h2:first-child {
  margin-top: 0
}

#storybook-root .sprocket.check-answers dl {
  display: table;
  table-layout: fixed;
  width: 100%
}

#storybook-root .sprocket.check-answers dl .answer {
  display: table-row
}

#storybook-root .sprocket.check-answers dl dd,
#storybook-root .sprocket.check-answers dl dt {
  border-bottom: 2px solid #dcdcdc;
  display: table-cell;
  padding: .25rem 0
}

#storybook-root .sprocket.check-answers dl .answer-title {
  color: #171819;
  font-family: proxima-nova-bold,sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  padding-right: 1rem;
  width: 30%
}

@media only screen and (max-width:767px) {
  #storybook-root .sprocket.check-answers dl .answer-title {
    font-size: 1rem;
    line-height: 1.375rem
  }
}

#storybook-root .sprocket.check-answers dl .answer-value {
  width: 50%
}

#storybook-root .sprocket.check-answers dl .change-answer {
  padding-left: 1rem;
  text-align: right;
  width: 20%
}

#storybook-root .sprocket.check-answers dl .change-answer .visually-hidden-text {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  border: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  white-space: nowrap
}

#storybook-root .sprocket.fieldset legend {
  color: #171819;
  font-family: proxima-nova-bold,sans-serif;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.125rem;
  margin-top: 0;
  padding: 0
}

@media only screen and (max-width:767px) {
  #storybook-root .sprocket.fieldset legend {
    font-size: 1.25rem;
    line-height: 1.75rem
  }
}

#storybook-root .sprocket.fieldset.error {
  border-left: .25rem solid #a00
}

#storybook-root .sprocket.fieldset.error input:not([type=checkbox]):not([type=radio]),
#storybook-root .sprocket.fieldset.error select,
#storybook-root .sprocket.fieldset.error textarea {
  border: 2px solid #a00
}

#storybook-root .sprocket.fieldset.error input:not([type=checkbox]):not([type=radio]):focus,
#storybook-root .sprocket.fieldset.error select:focus,
#storybook-root .sprocket.fieldset.error textarea:focus {
  border-color: #000
}

#storybook-root .sprocket.fieldset.error.checkbox,
#storybook-root .sprocket.fieldset.error.radio {
  padding-left: 4rem
}

#storybook-root .sprocket.fieldset.error.checkbox input,
#storybook-root .sprocket.fieldset.error.radio input {
  left: 1.5rem
}

#storybook-root .sprocket.fieldset.error.checkbox label:before,
#storybook-root .sprocket.fieldset.error.radio label:before {
  border: 2px solid #a00;
  left: 1rem
}

#storybook-root .sprocket.fieldset.error.radio input:checked + label:after {
  left: 1.5rem
}

#storybook-root .sprocket.fieldset.error.checkbox input:checked + label:after {
  left: 1.3125rem
}

#storybook-root .sprocket.fieldset .description {
  color: #626a6e;
  display: block;
  font-family: proxima-nova-regular,sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  margin: 0 0 .25rem;
  padding: 0
}

@media only screen and (max-width:767px) {
  #storybook-root .sprocket.fieldset .description {
    font-size: 1rem;
    line-height: 1.375rem
  }
}

#storybook-root .sprocket.fieldset .error-message {
  color: #a00;
  display: block;
  font-family: proxima-nova-regular,sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  margin: 0 0 .25rem;
  padding: 0
}

@media only screen and (max-width:767px) {
  #storybook-root .sprocket.fieldset .error-message {
    font-size: 1rem;
    line-height: 1.375rem
  }
}

#storybook-root .sprocket .sprocket {
  margin-bottom: 0
}

#storybook-root .cog {
  line-height: 1.375rem;
  margin: 1rem 0;
  padding: 0
}

#storybook-root .cog:first-child {
  margin-top: 0
}

#storybook-root .cog:last-child {
  margin-bottom: 0
}

#storybook-root .cog.radio {
  margin-bottom: .5rem;
  min-height: 2rem;
  padding-left: 3rem;
  position: relative
}

#storybook-root .cog.radio:last-of-type {
  margin-bottom: 0
}

@media only screen and (max-width:767px) {
  #storybook-root .cog.radio label {
    padding-top: .375rem
  }
}

@media only screen and (min-width:576px)and (max-width:767px) {
  #storybook-root .cog.radio label {
    padding-top: .375rem
  }
}

@media only screen and (max-width:319px) {
  #storybook-root .cog.radio label {
    padding-top: .375rem
  }
}

#storybook-root .cog.radio label:before {
  background-color: #fff;
  border: 2px solid;
  border-radius: 50%;
  box-sizing: border-box;
  content: "​";
  height: 32px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 32px
}

#storybook-root .cog.radio input {
  left: .5rem;
  position: absolute;
  top: .5rem
}

#storybook-root .cog.radio input:focus + label:before {
  box-shadow: 0 0 0 2px #fd0
}

#storybook-root .cog.radio input:checked + label:after {
  background-color: #000;
  border: 2px solid;
  border-radius: 50%;
  bottom: .5rem;
  box-sizing: border-box;
  content: "​";
  height: 1rem;
  left: .5rem;
  overflow: hidden;
  position: absolute;
  right: .5rem;
  top: .5rem;
  width: 1rem
}

#storybook-root .cog.checkbox {
  margin-bottom: .5rem;
  min-height: 2rem;
  padding-left: 3rem;
  position: relative
}

#storybook-root .cog.checkbox:last-of-type {
  margin-bottom: 0
}

@media only screen and (max-width:767px) {
  #storybook-root .cog.checkbox label {
    padding-top: .375rem
  }
}

@media only screen and (min-width:576px)and (max-width:767px) {
  #storybook-root .cog.checkbox label {
    padding-top: .375rem
  }
}

@media only screen and (max-width:319px) {
  #storybook-root .cog.checkbox label {
    padding-top: .375rem
  }
}

#storybook-root .cog.checkbox label:before {
  background-color: #fff;
  border: 2px solid;
  box-sizing: border-box;
  content: "​";
  height: 2rem;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 2rem
}

#storybook-root .cog.checkbox input {
  left: .5rem;
  position: absolute;
  top: .5rem
}

#storybook-root .cog.checkbox input:focus + label:before {
  box-shadow: 0 0 0 2px #fd0
}

#storybook-root .cog.checkbox input:checked + label:after {
  background-color: #fff;
  border-bottom: 4px solid;
  border-left: 4px solid;
  bottom: .625rem;
  box-sizing: border-box;
  content: "​";
  height: .625rem;
  left: .3125rem;
  overflow: hidden;
  position: absolute;
  top: .625rem;
  transform: rotate(-45deg);
  width: 1.375rem
}

#storybook-root .cog.error {
  border-left: .25rem solid #a00;
  padding: 0 1rem
}

#storybook-root .cog.error input:not([type=checkbox]):not([type=radio]),
#storybook-root .cog.error select,
#storybook-root .cog.error textarea {
  border: 2px solid #a00
}

#storybook-root .cog.error input:not([type=checkbox]):not([type=radio]):focus,
#storybook-root .cog.error select:focus,
#storybook-root .cog.error textarea:focus {
  border-color: #000
}

#storybook-root .cog.error.checkbox,
#storybook-root .cog.error.radio {
  padding-left: 4rem
}

#storybook-root .cog.error.checkbox input,
#storybook-root .cog.error.radio input {
  left: 1.5rem
}

#storybook-root .cog.error.checkbox label:before,
#storybook-root .cog.error.radio label:before {
  border: 2px solid #a00;
  left: 1rem
}

#storybook-root .cog.error.radio input:checked + label:after {
  left: 1.5rem
}

#storybook-root .cog.error.checkbox input:checked + label:after {
  left: 1.3125rem
}

#storybook-root .cog .description {
  color: #626a6e;
  display: block;
  font-family: proxima-nova-regular,sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  margin: 0 0 .25rem;
  padding: 0
}

@media only screen and (max-width:767px) {
  #storybook-root .cog .description {
    font-size: 1rem;
    line-height: 1.375rem
  }
}

#storybook-root .cog .error-message {
  color: #a00;
  display: block;
  font-family: proxima-nova-regular,sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  margin: 0 0 .25rem;
  padding: 0
}

@media only screen and (max-width:767px) {
  #storybook-root .cog .error-message {
    font-size: 1rem;
    line-height: 1.375rem
  }
}

#storybook-root .sprocket .cog:last-of-type {
  margin-bottom: 0
}

#storybook-root > .sprocket.fieldset > fieldset > legend {
  color: #171819;
  font-family: proxima-nova-bold,sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  margin: 0 0 1em;
  padding: 0
}

@media only screen and (max-width:767px) {
  #storybook-root > .sprocket.fieldset > fieldset > legend {
    font-size: 1.5rem;
    line-height: 2rem
  }
}

#storybook-root .shinkansen-gears {
  margin: 2rem 0;
  padding: 0
}

#storybook-root .shinkansen-gears li {
  display: inline-block;
  margin-right: .5rem
}

#storybook-root .shinkansen-gears li a {
  background-color: transparent;
  border: 2px solid #24548a;
  border-radius: 4px;
  color: #24548a;
  display: block;
  font-family: proxima-nova-bold,sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  outline-color: transparent;
  outline-offset: 2px;
  outline-style: auto;
  outline-width: 1px;
  padding: 8px 16px;
  position: relative;
  text-align: center
}

@media only screen and (max-width:767px) {
  #storybook-root .shinkansen-gears li a {
    font-size: .875rem;
    line-height: 1.25rem
  }
}

#storybook-root .shinkansen-gears li a.disabled {
  background-color: #d8d8d8;
  border: 2px solid #d8d8d8
}

#storybook-root .shinkansen-gears li a span {
  display: block
}

#storybook-root .shinkansen-gears li a:link {
  color: #24548a;
  text-decoration: none
}

#storybook-root .shinkansen-gears li a:hover {
  color: #24548a;
  text-decoration: underline
}

#storybook-root .shinkansen-gears li a:visited {
  color: #24548a
}

#storybook-root .shinkansen-gears li a:active,
#storybook-root .shinkansen-gears li a:focus {
  background-color: #24548a;
  color: #fff
}

#storybook-root .shinkansen-gears li a:focus {
  outline-color: #fd0;
  text-decoration: underline
}

#storybook-root .shinkansen-gears li:last-of-type {
  margin-right: auto
}
/*# sourceMappingURL=preview-head.css.map */
