{
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "alias": {
          /**
           *  For Jest
           */
          "shinkansen-gears/forward": "./gears/forward/index.jsx",
          "shinkansen-gears/reverse": "./gears/reverse/index.jsx",
          "shinkansen-gears": "./gears/index.jsx"
        }
      }
    ]
  ]
}
