{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/display-name": 0
  },
  "overrides": [
    {
      "files": [
        "*.mts",
        "*.cts"
      ],
      "plugins": [
        "@typescript-eslint"
      ],
      "extends": "standard-with-typescript",
      "parser": "@typescript-eslint/parser"
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
